%h1 Listing tickets
%table
  %tr
    %th Current url
    %th Title
    %th Status
    %th Customer
    %th User
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= ticket.current_url
      %td= ticket.title
      %td= ticket.status
      %td= ticket.customer_id
      %td= ticket.user_id
      %td= link_to 'Show', 'tickets/' + ticket.current_url
      %td= link_to 'Edit', edit_ticket_path(ticket.current_url)
      %td= link_to 'Destroy', 'tickets/' << ticket.current_url, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= will_paginate @tickets
= link_to 'New Ticket', new_ticket_path
